.wrap {
  width: 350px;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: #e4f1d2;
  }

  .detail {
    // margin-left: -120px;
    text-align: left;
    flex: 1;
    padding: 12px;

    .value {
      display: flex;
      gap: 5px;
    }

    .name {
      font-size: 1.4em;
    }

    .cal {
      font-size: 0.9em;
    }
  }

  .delete {
    i:nth-child(1) {
        color: rgb(56, 56, 240);
        cursor: pointer;

        &:active {
          scale: 0.8;
          translate: 0 -4px;
        }
      }
    i:nth-child(2) {
      color: red;
      cursor: pointer;

      &:active {
        scale: 0.8;
        translate: 0 -4px;
      }
    }
  }
}
